* {
  margin: 1rem 2.5rem;
  background: #000;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: #000;
  border-radius: 10px;
}

.container h1 {
  color: #fff;
  margin-left: 17rem;
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
}

.container ul {
  display: flex;
  margin-right: 10rem;
  color: #fff;
  list-style: none;
}

.container ul li {
  margin: 0 2.7rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.container ul li:hover {
  background: #fff;
  border-radius: 4px;
  color: #000;
}
