<form id="container">
  <div class="form-wrap">
    <h1>Sign Up</h1>
    <form (ngSubmit)="registerUser(input)" #input="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input ngModel required email type="email" name="email" id="email" placeholder="example@email.com"/>
      </div>
      <div class="message" *ngIf="this.token">
        <p style="display: block">Your api key is:</p>
        <p>{{this.token}}</p>
      </div>
      <div class="message" *ngIf="this.message">
        <p>{{this.message}}</p>
      </div>
      <button type="submit" class="btn">Claim your key!</button>
    </form>
  </div>
</form>
